<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("navbar.ejs" , { page : "/sellcar" } ) -%>
    <div class="container">
        <h5 class="mt-3">We are working on it !</h5>
    </div>
    <%- include("footer.ejs") -%>
</body>
</html>